<!DOCTYPE html>
<html>
<head>
  <title>EventedBlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
Error: <%= flash[:error] %>
</p>

<p>
Info: <%= flash[:info] %>
</p>

<%= yield %>

</body>
</html>
